{% extends 'base.html.twig' %}

{% block body %}
    <section class="contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="map">
                        <iframe src="https://maps.google.com/maps?q=140,%20rua%20jupuri,lago%20azul,%20manaus&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="contact-warp">
                        <div class="section-title mb-0">
                            <h2>Contato para Pedidos</h2>
                        </div>
                        {% for message in app.flashes('email_message_sent') %}
                            <div class="container mt-4">
                                <div class="row">
                                    <div class="alert alert-success">
                                        <h4><i class="fa fa-mail-forward"></i> {{ message }}</h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {{ form(emailForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}