{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="container-fluid mt-4">
            <div class="card">
                <div class="card-header alert-danger">
                    <h2 class="card-title text-danger text-center"><i class="fa fa-remove"></i><span> Acesso não permitido!</span></h2>
                </div>
                <div class="card-body">

                    <p class="text-justify text-bold text-uppercase">Seu usuário não tem permissão para acessar este recurso. <br> se você acredita que isso é um engano, por favor, contate a <strong>Administração</strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}